/* src/components/TaskList.css */
.task-list {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
}

.task-list h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.task-item {
    font-size: 1em;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item.completed {
    text-decoration: line-through;
    color: #999;
}